---
import Layout from "../layouts/Layout.astro";
import SetPasswordForm from "../components/auth/SetPasswordForm";
import { Toaster } from "sonner";

export const prerender = false;

// TODO: Add authentication check when auth is implemented
// const { data: { user } } = await Astro.locals.supabase.auth.getUser();
// if (!user) {
//   return Astro.redirect('/login');
// }

// TODO: Check if user already has password set
// if (user.user_metadata?.password_set) {
//   return Astro.redirect('/dashboard/participated');
// }

// TODO: Get user name from metadata
const userName = "";
---

<Layout title="Set Password - JulklApp">
  <div class="min-h-screen bg-gradient-to-br from-blue-50 via-white to-purple-50 flex items-center justify-center p-4">
    <div class="w-full max-w-md">
      {/* Card Container */}
      <div class="bg-white rounded-lg shadow-lg p-8 space-y-6">
        {/* Header */}
        <div class="text-center space-y-2">
          <h1 class="text-3xl font-bold text-gray-900">JulklApp</h1>
        </div>

        {/* Set Password Form */}
        <SetPasswordForm client:load userName={userName} />
      </div>
    </div>
  </div>

  {/* Toast notifications */}
  <Toaster client:load position="top-center" />
</Layout>

