name: Test & Lint on Master

on:
  push:
    branches: [master]

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - name: Run linting
        uses: ./.github/actions/lint

  unit-test:
    runs-on: ubuntu-latest
    steps:
      - name: Run unit tests
        uses: ./.github/actions/test
